<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:cdv   = "http://cordova.apache.org/ns/1.0"
        id          = "com.creepypastas.beta"
        versionCode = "28" 
        version     = "0.11.22" >


    <name>Creepypastas</name>
    <description>
        Las actualizaciones de creepypastas.com en tu celular.
    </description>
    <author email="contacto@creepypastas.com" href="http://creepypastas.com">
        Creepypastas.com
    </author>
    <preference name="permissions" value="none"/>

    <content src="index.html" />
    <icon src="favicon/favicon.simple.png" />
    <access origin="*" />
</widget>
